<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">DevOps Project</h1>
                <p class="lead text-muted mb-0">Final project for EPAM DevOps programm</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/images/net_logo.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Powered by AMAZON</h2>
                <p class="font-italic text-muted mb-4">Hosted on AWS using t2.micro instance</p><a href="https://aws.amazon.com/ru/?nc2=h_lg" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/aws_logo.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/images/terraform_logo.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Iac by Terraform</h2>
                <p class="font-italic text-muted mb-4">Create infrastructure by using Terraform</p><a href="https://www.terraform.io/" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Deliver code by Jenkins</h2>
                <p class="font-italic text-muted mb-4">CI/CD tool</p><a href="https://www.jenkins.io/" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/jenkins_logo.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/images/git_logo.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">CVS Git</h2>
                <p class="font-italic text-muted mb-4">Provide code from github</p><a href="https://github.com/vlddryga2233/Final_Project_EPAM_2021" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
        </div>
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Ansible using</h2>
                <p class="font-italic text-muted mb-4">Configure system with Ansible</p><a href="https://www.ansible.com/" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/ansible_logo.png" alt="" class="img-fluid mb-4 mb-lg-0" width="300" height="300"></div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Software developer        Vlad Dryha</p>
                <p class="font-italic text-muted">DevOps engineer           Vlad Dryha</p>
                <p class="font-italic text-muted">Software Architect        Vlad Dryha</p>
                <p class="font-italic text-muted">Project Manager           Vlad Dryha</p>

            </div>
        </div>
