<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="https://iconape.com/wp-content/png_logo_vector/ss-train-1967-1968-black.png" type="image/x-icon" />
</head>
<body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="">SPORTS STORE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="About" asp-controller="Home">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Home" asp-route-category="">Home</a>
                        </li>
                    </ul>
                    <div class="col-6 text-right">
                        <vc:cart-summary />
                    </div>
                </div>
            </nav>
        </header>
    <div class="bg-dark text-white p-2">
         <div class="container-fluid">
             <div class="row">
                 <div class="col navbar-brand">
                     SPORTS STORE
                     <div class="c navbar-collapse">
                         <ul class="navbar-nav mr-auto">
                           
                         </ul>

                     </div>

                 </div>

             </div>
         </div>
     </div> 
            <div class="row m-1 p-1">
                <div id="categories" class="col-3">
                    <vc:navigation-menu />
                </div>
                <div class="col-9">
                    @RenderBody()
                </div>

            </div>
        <footer class="footer fixed-bottom">
            <div class="container text-center">
                <p class="text-muted">
                    Test server powered by Vlad Dryha
                </p>
            </div>
    
    </footer>

</body>
</html>
